<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin-2.min.css" rel="stylesheet">

<style>
    .link-azul {
        color: blue;
        font-size: 14pt;
        font-weight: bolder;
    }

    .link-vermelho {
        color: brown
    }


    .my-custom-scrollbar {
        position: relative;
        height: 500px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }

    .sem_borda {
        border-collapse: collapse;
        background-color: #B7DDE7;
        border: 0px !important;
        font-size: 14pt;
        font-weight: bolder;
        padding: 0px;
        height: 30px;
    }
</style>


<div class="row">
    <!-- LISTA UM MENU DE ESPECIALIDADES -->
    <div class="col-lg-2 text-center">
        <div class="bg-light border-right  my-custom-scrollbar  table-wrapper-scroll-y" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <h4>Especialidades </h4>
            </div>
            
        </div>
    </div>


    <div id="container" class="container">
        <!-- LISTA O MENU DE ESTABELECIMENTOS -->
        <div class="row">
            <div class="container">
                <ul id="ul-estab" class="nav nav-tabs"></ul>
            </div>
        </div>
    </div>
</div>

{{>_modal-vagas-detalhes}}

<script>
    /*Esta função é responsável por mostrar apenas a tabela representada pelo menu clicado, as demais tabelas são ocultadas*/
    function Mudarestado(el) {
        document.getElementById(el).style.display = 'block';
        let tabelaId;
        for (let i = 0; i < tabelasId.length; i++) {
            tabelaId = tabelasId[i];
            if (tabelaId != el) {
                document.getElementById(tabelaId).style.display = 'none';
            }
        }
    }

</script>