<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">Teleagendamento - Grupo América planos de saúde</h1>
      <p class="lead">Sistema de Call Center!</p>
      <ul class="list-unstyled">
        <li><a href="/confirmar-dados">Confirmar dados</a></li>
        <li><a href="/opcoes-atendimento">Opções de atendimento</a></li>
        <li><a href="/medicos">Médicos</a></li>
      </ul>
    </div>
  </div>
</div>

