<style>
    .inp-wrapp {
        margin-top: 0px;
    }

    .inp {
        margin-top: -10px;
    }

    .bordas {
        border-width: 1px;
        border-style: solid;
        border-color: rgb(100, 35, 110, 0.2);
    }

    .absolute {
        position: absolute
    }

    .relative {
        position: relative
    }

    .filho {
        width: 50%;
        background: #007AA0;
        left: 25%;
    }

    .text-center {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar_superior {
        background-color: #af0a04 !important;
        background-color: #007AA0 !important;
    }

    .button_success {
        background-color: #007AA0 !important;
    }

    .button_danger {
        background-color: #af0a04 !important;
    }
</style>



<div class="row">
    <div class="col-lg-3 text-center">
        <p class="lead mt-2">Você está logado no sistema Call Center</p>
    </div>

    <div class="col-lg-6">
        <div class="col-lg-12">
            <div class="jumbotron text-center" style="padding: 20px;">
                <h4 style="padding: 0px">Opções de atendimento</h4>
            </div>
        </div>
    </div>
</div>


<div class="container"></div>

<div class="row">
    <div class="col-lg-12">
        <div class="container">
            <div class="relative">
                <input type="button" value="Agendamentos"
                    class="btn btn-success mt-2 inp  card filho absolute text-center"
                    style="text-align: center!important;">
            </div>
        </div>
    </div>
</div>


<div class=" row">
    <div class="col-lg-12 mt-5">
        <div class="container">
            <div class="relative">
                <input type="button" value="Reagendamentos"
                    class="btn btn-success mt-2 inp  card filho absolute text-center"
                    style="text-align: center!important">
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 mt-5">
        <div class="container">
            <div class="relative">
                <input type="button" value="Cancelar Agendamento"
                    class="btn btn-success mt-2 inp  card filho absolute text-center"
                    style="text-align: center!important">
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 mt-5">
        <div class="container">
            <div class="relative">
                <input type="button" value="Finalizar Atendimento"
                    class="btn btn-success mt-2 inp  card filho absolute text-center"
                    style="text-align: center!important">
            </div>
        </div>
    </div>
</div>
</div>